src/main/resources/dtd/comment.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!--Root element-->
<!ELEMENT comment (rationale, alternatives, typical_mistakes, local_habits, link_to_cook_book, example, comments_last_update)>
<!ATTLIST comment
	type CDATA #REQUIRED
>
<!ELEMENT rationale (#PCDATA)>
<!ELEMENT alternatives (#PCDATA)>
<!ELEMENT typical_mistakes (#PCDATA)>
<!ELEMENT local_habits (#PCDATA)>
<!ELEMENT link_to_cook_book (#PCDATA)>
<!ELEMENT example (example_source, example_target)>
<!ELEMENT example_source (#PCDATA)>
<!ELEMENT example_target (#PCDATA)>
<!ELEMENT comments_last_update (#PCDATA)>
<!ATTLIST comments_last_update
	date CDATA #REQUIRED
	person CDATA #REQUIRED
>
