src/main/resources/dtd/info.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!--root element-->
<!ELEMENT info (title, general_description, source_info, target_info+, mapping_info, example_data_info)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT general_description (#PCDATA)>
<!ELEMENT source_info (source_schema, source_collection)>
<!ELEMENT target_info (target_schema, target_collection)>
<!ELEMENT mapping_info (mapping_created_by_org, mapping_created_by_person, in_collaboration_with)>
<!ELEMENT example_data_info (example_data_from, example_data_contact_person, example_data_source_record, example_data_target_record)>
<!ELEMENT mapping_created_by_org (#PCDATA)>
<!ELEMENT mapping_created_by_person (#PCDATA)>
<!ELEMENT in_collaboration_with (#PCDATA)>
<!ELEMENT example_data_from (#PCDATA)>
<!ELEMENT example_data_contact_person (#PCDATA)>
<!ELEMENT source_collection (#PCDATA)>
<!ELEMENT target_collection (#PCDATA)>
<!ELEMENT source_schema (#PCDATA)>
<!ATTLIST source_schema
	version CDATA #REQUIRED
	schema_file CDATA #IMPLIED
	type CDATA #REQUIRED
>
<!ELEMENT target_schema (#PCDATA)>
<!ATTLIST target_schema
	version CDATA #REQUIRED
	schema_file CDATA #IMPLIED
	type CDATA #REQUIRED
>
<!ELEMENT example_data_source_record (#PCDATA)>
<!ATTLIST example_data_source_record
	xml_link CDATA #IMPLIED
	html_link CDATA #IMPLIED
>
<!ELEMENT example_data_target_record (#PCDATA)>
<!ATTLIST example_data_target_record
	rdf_link CDATA #IMPLIED
>
