src/main/resources/dtd/x3ml.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!--Comment describing your root element-->
<!ELEMENT x3ml (info?, namespaces, mappings, comments?)>
<!ATTLIST x3ml
	version CDATA #REQUIRED
	source_type CDATA #REQUIRED
>
<!ENTITY % info SYSTEM "info.dtd">
%info;

<!ELEMENT namespaces (namespace+)>
<!ELEMENT namespace EMPTY>
<!ATTLIST namespace
	prefix CDATA #REQUIRED
	uri CDATA #REQUIRED
>
<!ELEMENT mappings (mapping+)>
<!ELEMENT mapping (domain, link+)>
<!ELEMENT domain (source_node, target_node, comments?)>
<!ATTLIST domain
	repeated CDATA #IMPLIED
>
<!ELEMENT comments (comment+)>
<!ENTITY % comment SYSTEM "comment.dtd">
%comment;
<!ELEMENT link (path, range)>
<!ELEMENT path (source_relation, target_relation, comments?)>
<!ELEMENT source_relation ANY>
<!ELEMENT target_relation (if*, property, (entity, property)*)>
<!ELEMENT range (source_node, target_node, comments?)>
<!ELEMENT entity (class+, constant?, value_generator?, label_generator*, additional*)>
<!ATTLIST entity
	variable CDATA #IMPLIED
>
<!ELEMENT constant ANY>
<!ELEMENT value_generator (arg*)>
<!ATTLIST value_generator
	name CDATA #REQUIRED
>
<!ELEMENT arg (#PCDATA)>
<!ATTLIST arg
	name CDATA #IMPLIED
>
<!ELEMENT label_generator (arg*)>
<!ATTLIST label_generator
	name CDATA #REQUIRED
>
<!ATTLIST arg
	name CDATA #IMPLIED
>
<!ELEMENT property ANY>
<!ELEMENT class (#PCDATA)>
<!ELEMENT not (if)>
<!ELEMENT and ((if, if+))>
<!ELEMENT or ((if, if+))>
<!ELEMENT narrower (#PCDATA)>
<!ATTLIST narrower
	value CDATA #REQUIRED
>
<!ELEMENT exists (#PCDATA)>
<!ELEMENT equals (#PCDATA)>
<!ATTLIST equals
	value CDATA #REQUIRED
>
<!ELEMENT if (exists | equals | not | and | or | narrower)>
<!ELEMENT additional (property, entity)>
<!ELEMENT source_node ANY>
<!ELEMENT target_node (if*, entity)>
