src/test/resources/MappingLanguage-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>This XML Schema is based on Mapping Language defined in "Mapping Language for Information Integration" Technical Report 385, ICS-FORTH, December 2006</xs:documentation>
		<xs:documentation>Institute of Computer Science, FORTH-ICS, Heraklio, Crete, Greece: Maria Koutraki(kutraki@ics.forth.gr) , Martin Doerr(martin@ics.forth.gr)</xs:documentation>
		<xs:documentation>The XML Schema was updated according to Gerald de Jong, DELVING document <a href="http://www.cidoc-crm.org/mapping_technology/MappingDatatoCIDOC-CRM.pdf">Mapping Data to CIDOC-CRM</a>, June 2013</xs:documentation>
		<xs:documentation>Last Update: 12-11-2013 </xs:documentation>
		<xs:documentation>
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
				<img alt="Άδεια Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/>
			</a>
			<br/>Το <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Mapping Language for Information Integration</span> από τον <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.cidoc-crm.org/xsd/MappingLanguage_V1.0.xsd " property="cc:attributionName" rel="cc:attributionURL">Institute of Computer Science, FORTH-ICS, http://www.ics.forth.gr</a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Greece License </a>.
		</xs:documentation>
	</xs:annotation>
	<xs:element name="mappings" type="mappingsComplexType">
		<xs:annotation>
			<xs:documentation>Holds one or more mapping definitions from mapping-scheme-1 to mapping-schema-2 e.g. Lido to CIDOC-CRM</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="mappingsComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation/>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="general_description" type="xs:string">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="source_info" type="source_infoComplexType">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="target_info" type="target_infoComplexType">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="mapping_info" type="mapping_infoComplexType">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="example_data_info" type="example_data_infoComplexType">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="mapping" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="version" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="source_infoComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="source_schema">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="source_collection" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="source_schema">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="version" type="xs:string"/>
					<xs:attribute name="schema_file" type="xs:string"/>
					<xs:attribute name="type" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="target_infoComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="target_schema">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="target_collection" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="target_schema">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="version" type="xs:string"/>
					<xs:attribute name="schema_file" type="xs:string"/>
					<xs:attribute name="type" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="mapping_infoComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mapping_created_by_org" type="xs:string"/>
			<xs:element name="mapping_created_by_person" type="xs:string"/>
			<xs:element name="in_collaboration_with" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="example_data_infoComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="example_data_from" type="xs:string"/>
			<xs:element name="example_data_contact_person" type="xs:string"/>
			<xs:element ref="example_data_source_record">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="example_data_target_record" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="example_data_source_record">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="xml_link" type="xs:string"/>
					<xs:attribute name="html_link" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping" type="mappingComplexType">
		<xs:annotation>
			<xs:documentation>one mapping definition
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="mappingComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="domain"/>
			<xs:element ref="link" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attribute name="version" type="xs:decimal">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="domain" type="domainComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="domainComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="source"/>
			<xs:element ref="entity"/>
			<xs:element ref="comments" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="link" type="linkComplexType">
		<xs:annotation>
			<xs:documentation>Holds path and range
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="linkComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="path"/>
			<xs:element ref="range"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="source">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="sps_vocabulary">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute ref="sps_id">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="sps_vocabulary" type="xs:string">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="sps_id" type="xs:string">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="entity" type="entityComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="entityComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="exists"/>
				<xs:element ref="or"/>
				<xs:element ref="and"/>
				<xs:element ref="not"/>
			</xs:choice>
			<xs:element ref="uri_function"/>
		</xs:sequence>
		<xs:attributeGroup ref="tag_entityNameType">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute ref="binding">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="sps_vocabulary">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="sps_id">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="tag_entityNameType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:attribute name="tag" type="entity_name">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attribute name="binding" type="xs:string">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="value" type="xs:string">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="path" type="pathComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="pathComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="source"/>
			<xs:element ref="property"/>
			<xs:element ref="internal_node" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="comments" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="range" type="rangeComplextype">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="rangeComplextype">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="source"/>
			<xs:element ref="entity"/>
			<xs:element ref="additional_node" minOccurs="0"/>
			<xs:element ref="comments" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="uri_function" type="uri_functionComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="uri_functionComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="arg" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="name" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="sps_vocabulary">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="sps_id">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attribute name="name" type="xs:string">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="property" type="propertyComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="propertyComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element ref="exists"/>
				<xs:element ref="or"/>
				<xs:element ref="and"/>
				<xs:element ref="not"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="tag_propertyNameType">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute ref="sps_vocabulary">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="sps_id">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="tag_propertyNameType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:attribute name="tag" type="property_name" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="and" type="condition">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="or" type="condition">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="condition">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="or"/>
				<xs:element ref="and"/>
				<xs:element ref="exists"/>
				<xs:element ref="not"/>
			</xs:choice>
			<xs:choice>
				<xs:element ref="or"/>
				<xs:element ref="and"/>
				<xs:element ref="exists"/>
				<xs:element ref="not"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="not">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exists"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="internal_node" type="internal_nodeComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="internal_nodeComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="entity"/>
			<xs:element ref="property"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="additional_node" type="additional_nodeComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="additional_nodeComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="property"/>
			<xs:element ref="entity"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="exists">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="value"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="arg" type="argComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="argComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="name">
					<xs:annotation>
						<xs:documentation/>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute ref="sps_vocabulary">
					<xs:annotation>
						<xs:documentation/>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute ref="sps_id">
					<xs:annotation>
						<xs:documentation/>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="comments" type="comments_ComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<!--commments -->
	</xs:element>
	<xs:complexType name="comments_ComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rationale" type="xs:string"/>
			<xs:element name="alternatives" type="xs:string"/>
			<xs:element name="typical_mistakes" type="xs:string"/>
			<xs:element name="local_habits" type="xs:string"/>
			<xs:element name="link_to_cook_book" type="xs:string"/>
			<xs:element name="example" type="exampleComplexType"/>
			<xs:element ref="comments_last_update" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exampleComplexType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="example_source" type="xs:string" minOccurs="0"/>
			<xs:element name="example_target" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="comments_last_update">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="date" type="xs:string"/>
					<xs:attribute name="person" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="entity_name">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E1_CRM_Entity"/>
			<xs:enumeration value="E2_Temporal_Entity"/>
			<xs:enumeration value="E3_Condition_State"/>
			<xs:enumeration value="E4_Period"/>
			<xs:enumeration value="E5_Event"/>
			<xs:enumeration value="E6_Destruction"/>
			<xs:enumeration value="E7_Activity"/>
			<xs:enumeration value="E8_Acquisition_Event"/>
			<xs:enumeration value="E9_Move"/>
			<xs:enumeration value="E10_Transfer_of_Custody"/>
			<xs:enumeration value="E11_Modification"/>
			<xs:enumeration value="E12_Production"/>
			<xs:enumeration value="E13_Attribute_Assignment"/>
			<xs:enumeration value="E14_Condition_Assessment"/>
			<xs:enumeration value="E15_Identifier_Assignment"/>
			<xs:enumeration value="E16_Measurement"/>
			<xs:enumeration value="E17_Type_Assignment"/>
			<xs:enumeration value="E18_Physical_Thing"/>
			<xs:enumeration value="E19_Physical_Object"/>
			<xs:enumeration value="E20_Biological_Object"/>
			<xs:enumeration value="E21_Person"/>
			<xs:enumeration value="E22_Man-Made_Object"/>
			<xs:enumeration value="E24_Physical_Man-Made_Thing"/>
			<xs:enumeration value="E25_Man-Made_Feature"/>
			<xs:enumeration value="E26_Physical_Feature"/>
			<xs:enumeration value="E27_Site"/>
			<xs:enumeration value="E28_Conceptual_Object"/>
			<xs:enumeration value="E29_Design_or_Procedure"/>
			<xs:enumeration value="E30_Right"/>
			<xs:enumeration value="E31_Document"/>
			<xs:enumeration value="E32_Authority_Document"/>
			<xs:enumeration value="E33_Linguistic_Object"/>
			<xs:enumeration value="E34_Inscription"/>
			<xs:enumeration value="E35_Title"/>
			<xs:enumeration value="E36_Visual_Item"/>
			<xs:enumeration value="E37_Mark"/>
			<xs:enumeration value="E38_Image"/>
			<xs:enumeration value="E39_Actor"/>
			<xs:enumeration value="E40_Legal_Body"/>
			<xs:enumeration value="E41_Appellation"/>
			<xs:enumeration value="E42_Identifier"/>
			<xs:enumeration value="E44_Place_Appellation"/>
			<xs:enumeration value="E45_Address"/>
			<xs:enumeration value="E46_Section_Definition"/>
			<xs:enumeration value="E47_Spatial_Coordinates"/>
			<xs:enumeration value="E48_Place_Name"/>
			<xs:enumeration value="E49_Time_Appellation"/>
			<xs:enumeration value="E50_Date"/>
			<xs:enumeration value="E51_Contact_Point"/>
			<xs:enumeration value="E52_Time-Span"/>
			<xs:enumeration value="E53_Place"/>
			<xs:enumeration value="E54_Dimension"/>
			<xs:enumeration value="E55_Type"/>
			<xs:enumeration value="E56_Language"/>
			<xs:enumeration value="E57_Material"/>
			<xs:enumeration value="E58_Measurement_Unit"/>
			<xs:enumeration value="E59_Primitive_Value"/>
			<xs:enumeration value="E60_Number"/>
			<xs:enumeration value="E61_Time_Primitive"/>
			<xs:enumeration value="E62_String"/>
			<xs:enumeration value="E63_Beginning_of_Existence"/>
			<xs:enumeration value="E64_End_of_Existence"/>
			<xs:enumeration value="E65_Creation"/>
			<xs:enumeration value="E66_Formation"/>
			<xs:enumeration value="E67_Birth"/>
			<xs:enumeration value="E68_Dissolution"/>
			<xs:enumeration value="E69_Death"/>
			<xs:enumeration value="E70_Thing"/>
			<xs:enumeration value="E71_Man-Made_Thing"/>
			<xs:enumeration value="E72_Legal_Object"/>
			<xs:enumeration value="E73_Information_Object"/>
			<xs:enumeration value="E74_Group"/>
			<xs:enumeration value="E75_Conceptual_Object_Appellation"/>
			<xs:enumeration value="E77_Persistent_Item"/>
			<xs:enumeration value="E78_Collection"/>
			<xs:enumeration value="E79_Part_Addition"/>
			<xs:enumeration value="E80_Part_Removal"/>
			<xs:enumeration value="E81_Transformation"/>
			<xs:enumeration value="E82_Actor_Appellation"/>
			<xs:enumeration value="E83_Type_Creation"/>
			<xs:enumeration value="E84_Information_Carrier"/>
			<xs:enumeration value="E85_Joining"/>
			<xs:enumeration value="E86_Leaving"/>
			<xs:enumeration value="E87_Curation_Activity"/>
			<xs:enumeration value="E89_Propositional_Object"/>
			<xs:enumeration value="E90_Symbolic_Object"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="property_name">
		<xs:restriction base="xs:string">
			<xs:enumeration value="P104_is_subject_to"/>
			<xs:enumeration value="P107_is_current_or_former_member_of"/>
			<xs:enumeration value="P108i_was_produced_by"/>
			<xs:enumeration value="P10_falls_within"/>
			<xs:enumeration value="P11_had_participant"/>
			<xs:enumeration value="P11_participated_in"/>
			<xs:enumeration value="P129_is_about"/>
			<xs:enumeration value="P129i_is_subject_of"/>
			<xs:enumeration value="P12i_was_present_at"/>
			<xs:enumeration value="P131_is_identified_by"/>
			<xs:enumeration value="P16i_was_used_for"/>
			<xs:enumeration value="P1_is_identified_by"/>
			<xs:enumeration value="P2_has_type"/>
			<xs:enumeration value="P32_used_general_technique"/>
			<xs:enumeration value="P3_has_note"/>
			<xs:enumeration value="P43_has_dimension"/>
			<xs:enumeration value="P46i_forms_part_of"/>
			<xs:enumeration value="P48_has_preferred_identifier"/>
			<xs:enumeration value="P4_has_time_span"/>
			<xs:enumeration value="P50_has_current_keeper"/>
			<xs:enumeration value="P55_has_current_location"/>
			<xs:enumeration value="P65_shows_visual_item"/>
			<xs:enumeration value="P67_refers_to"/>
			<xs:enumeration value="P67i_is_referred_to_by"/>
			<xs:enumeration value="P70_is_documented_in"/>
			<xs:enumeration value="P71i_is_listed_in"/>
			<xs:enumeration value="P75i_is_possessed_by"/>
			<xs:enumeration value="P79_beginning_is_qualified_by"/>
			<xs:enumeration value="P7_took_place_at"/>
			<xs:enumeration value="P80_end_is_qualified_by"/>
			<xs:enumeration value="P87_is_identified_by"/>
			<xs:enumeration value="P88_consists_of"/>
			<xs:enumeration value="P94i_was_created_by"/>
			<xs:enumeration value="P30i_custody_transferred_through"/>
			<xs:enumeration value="P4_has_time-span"/>
			<xs:enumeration value="P9i_forms_part_of"/>
			<xs:enumeration value="P17_was_motivated_by"/>
			<xs:enumeration value="P138_represents"/>
			<xs:enumeration value="P14i_was_carried_out_by"/>			
			
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
